{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Create Task</title>
<link rel="stylesheet" href="{% static 'css/createtask.css' %}" />
{% endblock meta %}

{% block content %}

<div class="create_task">
    <div class="create_task_1">
        <h1>Add a New Task</h1>
        <form method="POST"action="">
            {% csrf_token %}
            <table>
                <tr>
                    <input type="text" name="title" placeholder="Title" class="form-control">
                </tr>

                <tr>
                    
                    <input type="text" name="description" placeholder="Description" class="form-control">
                </tr>

                <tr>
                    <div class="btn_input"><input class="btn_1" type="submit" value="Add"></div>
                </tr>
            </table>

        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <p>To go back to the list, click&nbsp;<a href="{% url 'todolist:show_todolist' %}">here</a></p>
    </div>
</div>

{% endblock content %}