{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock meta %}

{% block content %}

<div class="drop drop1"></div>
<div class="drop drop2"></div>

<div class = "login_container">
    <div class="login_1">
        <h1>Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>    
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </tr>

                <tr>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </tr>

                <tr>
                    
                    <div class="btn_input"><input class="btn_1" type="submit" value="Login"></div>
                </tr>
            </table>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>Don't have an account? <a href="{% url 'todolist:register' %}">Create an Account</a></p>

    </div>

</div>

{% endblock content %}