{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Account Registration</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock meta %}

{% block content %}

<div class="drop drop1"></div>
<div class="drop drop2"></div>

<div class="login_container">
    <div class = "login_1">
        <h1>Registration Form</h1>

            <form method="POST" >
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input class="btn_1" type="submit" name="submit" value="Register"/></td>
                    </tr>
                </table>
            </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
            </ul>
        {% endif %}

        <p>Already have an account?&nbsp;<a href="{% url 'todolist:login' %}"> Login to your Account</a></p>

    </div>
</div>


{% endblock content %}