{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>To Do List</title>
<link rel="stylesheet" href="{% static 'css/todolist.css' %}" />
{% endblock meta %}

{% block content %}

<h1>{{user}}'s To Do List</h1>
<div class="container">
    <div class="cards">
        <a href="{%url 'todolist:create_task'%}" class="add_task_text">Add task</a> 
         
        {% for item in list_item %}
            <div class="card">
                <div class="date">
                    {{item.date}}
                </div>
                <div class="title">
                    {{item.title}}
                </div>
                <div class="description">
                    {{item.description}}
                </div>
                <div class="action">
                    <div class="info">
                        {% if item.is_finished %}
                        <p style="color:greenyellow">Done</p>
                        {% else %}
                        <p style="color:white">Pending</p>
                        {% endif %}
                    </div>
                    <div class="check">
                        {% if item.is_finished %}
                        <input type="checkbox"" onclick=" location.href=`{% url 'todolist:finish_task_id' item.id %}`" checked>
                        {% else %}
                        <input type="checkbox"" onclick=" location.href=`{% url 'todolist:finish_task_id' item.id %}`">
                        {% endif %}
                    </div>
                    <div class="delete">
                        <button><a href="{% url 'todolist:delete_task_id' item.id %}">Delete</a></button>
                    </div>
                </div>
                
            </div>
        {% endfor %}
        
            
                
           
        
    </div>
</div>

<br>

<div class="buttons">
    <a href="{% url 'todolist:logout' %}" class="logout_text">Logout</a>
</div>


{% endblock content %}